<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快服网充值</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/my.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/my.js"></script>
</head>
<body style="font-size: 0">
<div class="root">
    <div style="text-align: center;padding-top: 0.96rem">
        <img class="recharge_img" src="img/error.png">
        <p class="recharge_p">支付失败，交易已关闭！</p>
    </div>
</div>
<script>

</script>
</body>
</html>